<div class="row">

	<div class="col-md-4">
	<div class="panel panel-success">
	<div class="panel-heading">De Gode</div>
		<ul class="list-group">
		<% @semester.books.each do |book| %>
				
						<a href="/books/<%= book.id %>" class="list-group-item">
							<%= book.title %>
						</a>

		<% end %>
		</ul>
		</div>
	</div>

	<div class="col-md-4">
	<div class="panel panel-warning">
	<div class="panel-heading">De Middelmådige</div>
		<ul class="list-group">
		<% @new_books.each do |book| %>
				
						<a href="/books/<%= book.id %>" class="list-group-item">
							<%= book.title %>
						</a>

		<% end %>
		</ul>
		</div>
	</div>

	<div class="col-md-4">
	<div class="panel panel-danger">
	<div class="panel-heading">De Dårlige</div>
		<ul class="list-group">
		<% @bad_books.each do |book| %>
				
						<a href="/books/<%= book.id %>" class="list-group-item">
							<%= book.title %>
						</a>

		<% end %>
		</ul>
		</div>
	</div>

</div>

