<div class="row">

	<div class="col-md-4">
		<%= image_tag @book.book_img.url(:book_show), class: "book_show" %>
	</div>
	
	<div class="col-md-8">

		<h1><%= @book.title %></h1>
		<h2><%= @book.author %></h2>
		<p><%= @book.description %></p>


		<h3>Vurdering:</h3>

		<div class="col-md-2">
			<% if @book.rating == 1 %>
				<p><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></p>
			<% elsif @book.rating == 3 %>
				<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
			<% else %>
				<p><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></p>
			<% end %>
		</div>

		<div class="col-md-10">
			<% unless @book.verdict.blank? %>
			<p><%= @book.verdict %></p>
			<% end %>
		</div>

		<div class="col-md-12">
			<%= link_to "Rediger bog", edit_book_path(@book) %>
			</br>
		  <%= link_to "Slet bog", book_path(@book), method: :delete, data: { confirm: "Slet bogen?"} %>
		</div>

	</div>
</div>

