<% provide(:title, "#{@book.title}")%>
<% breadcrumb :book, @book %>

<div class="row">

	<div class="col-md-4">
		<%= image_tag @book.book_img.url(:book_show), class: "book_show" %>
	</div>
	
	<div class="col-md-8">

		<h1><%= @book.title %></h1>
		<h3><%= @book.author %></h3>
		<%= simple_format(@book.description) %>




			<div class="panel panel-<%= @rate %>">
				<div class="panel-heading"><span class="glyphicon glyphicon-<%= @glyph %>" aria-hidden="true"></span>
				<%= @recommend %>
				</div>
				<% unless @book.verdict.blank? %>
		  		<div class="panel-body">
							<%= simple_format(@book.verdict) %>
		  		</div>
		  	<% end %>
			</div>



		<% if current_user and current_user.admin? %>
			<div class="col-md-12">
				<%= link_to "Rediger bog", edit_book_path(@book) %>
				</br>
			  <%= link_to "Slet bog", book_path(@book), method: :delete, data: { confirm: "Slet bogen?"} %>
			</div>
		<% end %>

	</div>
</div>

