<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <meta name="description" content="<%= description(yield(:description)) %>">
  <meta name="keywords" content="Pensum,Socialrådgiver,AAU,studie">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <nav class="navbar navbar-default">

    <div class="container">

      <div class="navbar-header">
        <%= link_to "Pensum Popo", root_path, class: "navbar-brand" %>        
      </div>

      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Log ud", destroy_user_session_path, method: :delete%></li>
        <% else %>
          <li><%= link_to "Log ind", user_session_path %></li>
          <li><%= link_to "Tilmeld", new_user_registration_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin?) %>
        <li><%= link_to "Tilføj bog", new_book_path %></li>
        <% end %>
      </ul>


    </div>

  </nav>

  <div class="container">

    <%= breadcrumbs style: :bootstrap, 
                    separator: "", 
                    display_single_fragment: true %>

    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

  </body>
</html>
